# txt files
**/*.txt
**/*.exe
**/*.bat
**/*.class

**/node_modules/
**/**/package-lock.json

.obsidian/
.vscode/

notes/Books_Library/
notes/Excalidraw/
notes/CSS reset/
notes/JavaScript_JS/devTools/
notes/JavaScript_JS/javaScript30/

Interview_Toil/Books Library
Interview_Toil/CURRENTLY READING
Interview_Toil/Python
