# txt files
**/*.txt
**/*.exe
**/*.bat
**/*.class
**/*.png

**/node_modules/
**/**/package-lock.json

**/*.ipynb_checkpoints

.obsidian/
.vscode/

notes/excalidraw/
notes/css_reset/
notes/javaScript/devTools/
notes/javaScript/javaScript30/


Interview_Toil/Python/python books/
Interview_Toil/Python/Python-for-Algorithm-and-Interviews-master/


